@use "../utils"  as *;



.taskBarFooter{

    width: 320px;
    &.dark{
        color: $blanco;
    }
    &.ligth{
        color: $negro;
    }
    .clock-container{
        position: relative;
        display: flex;
        flex-direction: row;
        
        height: fit-content;
        .otherIcons{
            display: flex;
            flex-direction: row;
            gap: 1em;
            width: 13em;
            .battery{
                display: flex;
                flex-direction: row;
                gap: 0.5em;
                align-items: center;
                width: 5em;
                img{
                    width: 1.5em;
                }
            }
        }
        .clock {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            width: 8em;     
            padding: 0em;
        }
        
        .shape1 {
            height: 1em;
            width: 1em;
            position: absolute;
            background: -o-linear-gradient(315deg, #ff5b84, #eb3461);
            background: linear-gradient(135deg, #ff5b84, #eb3461);
            border-radius: 50%;
            right: 0;
            z-index: -1;
        }
        
        .wrapper {
            text-align: center;
        }
        #time {
            font-size: 10px;
            
            display: inline-block;
        }
        #day {
            position: relative;
            font-size: 10px;
            letter-spacing: 2px;
            text-transform: uppercase;
            
            text-align: center;
        }
        #midday {
            display: inline-block;
            
            font-size: 10px;
        }
        
    }   


}
