@use "../utils"  as *;



.window{
  display: flex;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(50px);
  justify-content: center;
  width: 1000px;
  height: 750px;
  margin: auto;
  border-radius: 15px;
  

  

.window__content{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 35px 35px;
}
}


