
// Linux Ubuntu Style
@font-face {
    font-family: Ubuntu-Regular;
    src: url(./fonts/ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: Ubuntu-Medium;
    src: url(./fonts/ubuntu/ubuntu/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: Ubuntu-bold;
    src: url(./fonts/ubuntu/ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: Ubuntu-Italic;
    src: url(./fonts/ubuntu/ubuntu/Ubuntu-Italic.ttf);
}
@font-face {
    font-family: Ubuntu-Light;
    src: url(./fonts/ubuntu/ubuntu/Ubuntu-Light.ttf);
}

//Mac Os X style
@font-face {
    font-family: Mac-Light;
    src: url(./fonts/mac/FallingSkyLight-K2EX.otf);
}
@font-face {
    font-family: Mac-Medium;
    src: url(./fonts/mac/FallingSkyBlack-GYXA.otf);
}
@font-face {
    font-family: latex;
    src: url(fonts/lattex/lattex-roman.ttf);
}