@font-face {
    font-family: Ubuntu-Regular;
    src: url(/Resources/Styles/scss/utils/fonts/ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: Ubuntu-Medium;
    src: url(/Resources/Styles/scss/utils/fonts/ubuntu/Ubuntu-Medium.ttf);
}
@font-face {
    font-family: Ubuntu-bold;
    src: url(/Resources/Styles/scss/utils/fonts/ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: Ubuntu-Italic;
    src: url(/Resources/Styles/scss/utils/fonts/ubuntu/Ubuntu-Italic.ttf);
}
@font-face {
    font-family: Ubuntu-Light;
    src: url(/Resources/Styles/scss/utils/fonts/ubuntu/Ubuntu-Light.ttf);
}
