$azul:#2B72B3;
$azul-claro:#00a2ff7e;
$negro:#282C34;
$negro-claro:#303030;
$verde:#7ED957;
$naranja:#FF914D;
$amarillo-oscuro:#F9C500;
$blanco:#FFFFFF;
$beige:#999999;
$gris:#6d6d6d;


$transparente:#00000000;
$blancoTransparente:#ffffff7a;


//Colores de botones
$rojoBoton:#FF605C;
$verdeBoton:#00CA4E;
$amarilloBoton: #FFBD44;


$Terminal:#80ff80cc;
$TerminalSombra:rgba(51, 255, 51, 0.4);

$black:#000000;
